.contact__firstview {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 100vh;
  background: #1d1d1d;
}

.contact__firstview h1 {
  position: absolute;
  top: 20%;
  left: -35px;
  font-size: 150px;
  color: #fff;
}

.form {
  width: 60%;
  margin: 20px auto;
}
.form-item {
  border-top: 1px solid #ddd;
  padding: 24px 0;
  width: 100%;
  display: flex;
  align-items: center;
}
.form-item:nth-child(5) {
  border-bottom: 1px solid #ddd;
}
.form-item-label {
  width: 100%;
  font-weight: bold;
  font-size: 16px;
}
.form-item-label-required {
  margin-right: 8px;
  padding: 8px 0;
  width: 48px;
  display: inline-block;
  text-align: center;
  background: #d3381c;
  color: #fff;
  font-size: 14px;
}
.form-item-input {
  border: 1px solid #ddd;
  margin-left: 40px;
  padding: 0 10px;
  height: 48px;
  width: 100%;
  background: #eaedf2;
  font-size: 18px;
}
.form-item-textarea {
  border: 1px solid #ddd;
  margin-left: 40px;
  padding: 0 10px;
  height: 200px;
  width: 100%;
  background: #eaedf2;
  font-size: 18px;
}
.form-btn {
  margin: 32px auto 80px;
  padding-top: 20px;
  padding-bottom: 20px;
  width: 280px;
  display: block;
  border: 2px solid #1f1f1f;
  color: #1f1f1f;
  background: inherit;
  font-weight: bold;
  font-size: 20px;
  cursor: pointer;
}

.contact__content {
  margin: 50px 0;
  text-align: center;
}
.contact__title {
  font-size: 30px;
}
.contact__text {
  font-size: 14px;
}
