.service__firstview {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 100vh;
  background: #1d1d1d;
}

.service__firstview h1 {
  position: absolute;
  top: 20%;
  left: -35px;
  font-size: 150px;
  color: #fff;
}